.checkbox {
    label {
        display: block;
        width: 40px;
        height: 20px;
        border: 1px solid #f1f1f1;
        border-radius: 999px;
        cursor: pointer;
        position: relative;
        transition: all ease-in-out 1s;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        background-color: white;
        @apply border-primary;
        span {
            position: absolute;
            top: 0;
            left: 0;
            right: auto;
            width: 18px;
            height: 18px;
            transition: all ease-in-out 0.4s;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
            @apply bg-white block rounded-full;
        }
    }
    input:checked + label {
        transition: all ease-in-out 0.4s;
        @apply bg-primary;
        span {
            transition: all ease-in-out 0.4s;
            left: 20px;
        }
    }
}